In [24]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [109]:
driver = webdriver.Chrome()

In [26]:
# opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [29]:
# entering designation and location
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [30]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [33]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [34]:
# Creating empty lists
job_title = []
job_location = []
company_name = []
experience_required = []

In [35]:
# scrapping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [36]:
# scrapping job location form the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [37]:
# scrapping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [38]:
#scrapping experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [39]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Technical Data Analyst,Bangalore\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
1,opening data analyst -Bangalore,Bangalore,provizor it services pvt. ltd.,2 to 5 Yrs
2,,Bangalore,,
3,,Bangalore,,
4,,Bangalore,,
5,,,,
6,,,,
7,,,,
8,,Bangalore,,
9,,Bangalore,,

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [42]:
# opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [46]:
# entering designation and location
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [47]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [50]:
# use to search button to get the results
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

In [51]:
# Creating empty lists
j_title = []
j_location = []
c_name = []

In [52]:
# scrapping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    j_title.append(title)

In [53]:
# scrapping job location form the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    j_location.append(location)

In [54]:
# scrapping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    c_name.append(company)

In [55]:
print(len(j_title),len(j_location),len(c_name))

10 10 10

In [56]:
df = pd.DataFrame({'Title':j_title,'Location':j_location,'Company':c_name})
df

,Title,Location,Company
0,Data Scientist,Bangalore,the fashion cosmo
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd
3,Data Scientist III,Bangalore,inmobi
4,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions
5,"Opening for Computer executive, data typing , ...",Bangalore\n+9,realtech solutions
6,Data Scientist,Bangalore\n+6,quiscon biotech
7,"Senior Data Scientist, AWS",Bangalore,amazon
8,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions
9,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon

# Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [58]:
# opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [63]:
# entering designation and location
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [64]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [69]:
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div[1]/form/div/div[1]/ul[2]/li[1]/div/input[1]")
salary.send_keys('3-6')

In [70]:
# use to search button to get the results
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button")
search.click()

In [71]:
# Creating empty lists
title = []
location = []
name = []
ex_required = []

In [72]:
# scrapping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    t=i.text
    title.append(t)

In [73]:
# scrapping job location form the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    l=i.text
    location.append(l)

In [74]:
# scrapping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    c=i.text
    name.append(c)

In [75]:
#scrapping experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    ex=i.text
    ex_required.append(ex)

In [76]:
print(len(title),len(location),len(name),len(ex_required))

10 10 10 10

In [77]:
df = pd.DataFrame({'Title':title,'Location':location,'Company':name,'Experience':ex_required})
df

,Title,Location,Company,Experience
0,Data Scientist,Australia\n+10,vaishnavi services,14 to 24 Yrs
1,Data Scientist Mumbai,Mumbai City,morpheus human consulting pvt ltd,2 to 7 Yrs
2,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
3,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
4,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
5,Hire DATA SCIENTIST- MIS EXECUTIVE,Mumbai City,h k jewels private limited,4 to 6 Yrs
6,Need now for Data Scientist - MIS Executive,Mumbai City,h k jewels private limited,4 to 6 Yrs
7,need Data Scientist MIS Executive,Mumbai City,h k jewels private limited,4 to 6 Yrs
8,Urgently Required Data Scientist - MIS Executive,Mumbai City,h k jewels private limited,4 to 6 Yrs
9,Data Scientist III,Bangalore,inmobi,7 to 9 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [78]:
# opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [81]:
# searching for sunglasses
glasses = driver.find_element(By.CLASS_NAME,"Pke_EE")
glasses.send_keys('sunglasses')

In [82]:
# use to search button to get the results
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [83]:
# creating empty lists
Sponsor = []
discription = []
price = []
discount = []

In [144]:
# scrapping sponsors from the given page
start=0
end=3
for page in range(start,end):
    glass_sponsor=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in glass_sponsor:
        Sponsor.append(i.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [145]:
# scrapping discription from the given page
start=0
end=3
for page in range(start,end):
    glass_discription=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in glass_discription:
        discription.append(i.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [146]:
# scrapping price from the given page
start=0
end=3
for page in range(start,end):
    glass_price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in glass_price:
        price.append(i.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [147]:
# scrapping discount from the given page
start=0
end=3
for page in range(start,end):
    glass_discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in glass_discount:
        discount.append(i.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [148]:
print(len(Sponsor),len(discription),len(price),len(discount))

310 152 160 160

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [102]:
# opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART")

# The link given for the above question is not working. it is showing "Unfortunately the page you are looking for has been moved or deleted"

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [116]:
driver = webdriver.Chrome()

In [117]:
# opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [118]:
# searching for sneakers
shoes = driver.find_element(By.CLASS_NAME,"Pke_EE")
shoes.send_keys('sneakers')

In [121]:
# use to search button to get the results
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [132]:
# creating empty lists
brand = []
product_discription = []
sneaker_price = []

In [149]:
# scrapping sneaker brand from the given page
start=0
end=3
for page in range(start,end):
    s_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for s in s_brand:
        brand.append(s.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [150]:
# scraping product description
start=0
end=3
for page in range(start,end):
    p_des = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for p in p_des:
        product_discription.append(p.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [151]:
# scraping sneaker price
start=0
end=3
for page in range(start,end):
    s_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in s_price:
        sneaker_price.append(i.text)
    button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [152]:
print(len(brand),len(product_discription),len(sneaker_price))

160 154 160

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [171]:
driver = webdriver.Chrome()

In [172]:
# opening the amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [181]:
# searching for laptops
lappy = driver.find_element(By.CLASS_NAME,"nav-fill")
lappy.send_keys('laptops')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=117.0.5938.92)
Stacktrace:
	GetHandleVerifier [0x00007FF67D3D7892+54818]
	(No symbol) [0x00007FF67D346AC2]
	(No symbol) [0x00007FF67D1FD8ED]
	(No symbol) [0x00007FF67D239967]
	(No symbol) [0x00007FF67D238CD4]
	(No symbol) [0x00007FF67D25EAAA]
	(No symbol) [0x00007FF67D235036]
	(No symbol) [0x00007FF67D25ECC0]
	(No symbol) [0x00007FF67D2775A2]
	(No symbol) [0x00007FF67D25E883]
	(No symbol) [0x00007FF67D233691]
	(No symbol) [0x00007FF67D2348D4]
	GetHandleVerifier [0x00007FF67D73B992+3610402]
	GetHandleVerifier [0x00007FF67D791860+3962352]
	GetHandleVerifier [0x00007FF67D789D4F+3930847]
	GetHandleVerifier [0x00007FF67D473646+693206]
	(No symbol) [0x00007FF67D351628]
	(No symbol) [0x00007FF67D34D934]
	(No symbol) [0x00007FF67D34DA62]
	(No symbol) [0x00007FF67D33E113]
	BaseThreadInitThunk [0x00007FF8068A7344+20]
	RtlUserThreadStart [0x00007FF8088826B1+33]

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [182]:
driver = webdriver.Chrome()

In [183]:
# opening the azquotes page on automated chrome browser
driver.get("https://www.azquotes.com/")

In [186]:
# opening top quotes by clicking
press = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
press.click()

In [195]:
# creating empty lists
quote = []
author = []
type_of_quotes = []

In [196]:
# scrapping quotes, Author and type of quotes
start=0
end=10
for page in range(start,end):
    no_of_quotes = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in no_of_quotes:
        quote.append(i.text)
    button=driver.find_element(By.XPATH,'//li[@class="next inactive"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [197]:
start=0
end=10
for page in range(start,end):
    no_of_author = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in no_of_author:
        author.append(i.text)
    button=driver.find_element(By.XPATH,'//li[@class="next inactive"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [198]:
start=0
end=10
for page in range(start,end):
    ty_quote = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in ty_quote:
        type_of_quotes.append(i.text)
    button=driver.find_element(By.XPATH,'//li[@class="next inactive"]') # to scrape data from next page
    button.click()
    time.sleep(3)

In [199]:
print(len(quote),len(author),len(type_of_quotes))

1000 1000 1000

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [200]:
driver = webdriver.Chrome()

In [201]:
# opening the jagranjosh page on automated chrome browser
driver.get("https://www.jagranjosh.com/")

In [202]:
# opening GK section by clicking
press = driver.find_element(By.XPATH,"/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
press.click()

In [203]:
# opening list of all Prime Minister by clicking
press = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
press.click()

In [204]:
Name = []
Born_Dead = []
Term_of_office = []
remarks = []

In [206]:
# scrapping the name of the Prime Ministers
P_M_name = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for p in P_M_name:
    Name.append(p.text)

In [208]:
# scrapping the birth and death of the Prime Ministers
birth_death = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for p in birth_death:
    Born_Dead.append(p.text)

In [209]:
# scrapping Term_of_office
office_term = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for p in office_term:
    Term_of_office.append(p.text)

In [210]:
# scrapping remarks
remarks_P_M = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for p in remarks_P_M:
    remarks.append(p.text)

In [213]:
df=pd.DataFrame({'Name':Name,'Born_Dead':Born_Dead,'Term_of_Office':Term_of_office,'Remarks':remarks})
df

                Name          Born_Dead     Term_of_Office            Remarks
0  Jawahar Lal Nehru  Jawahar Lal Nehru  Jawahar Lal Nehru  Jawahar Lal Nehru

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [227]:
driver = webdriver.Chrome()

In [228]:
# opening the motor1 page on automated chrome browser
driver.get("https://www.motor1.com/")

In [231]:
# searching 50 most expensive cars in the world
cars = driver.find_element(By.CLASS_NAME,"m1-search-panel-input m1-search-form-text")
cars.send_keys('50 most expensive cars')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".m1-search-panel-input m1-search-form-text"}
  (Session info: chrome=117.0.5938.92); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF67D3D7892+54818]
	(No symbol) [0x00007FF67D346AC2]
	(No symbol) [0x00007FF67D1FDA3B]
	(No symbol) [0x00007FF67D23E4FC]
	(No symbol) [0x00007FF67D23E67C]
	(No symbol) [0x00007FF67D279627]
	(No symbol) [0x00007FF67D25EAEF]
	(No symbol) [0x00007FF67D2775A2]
	(No symbol) [0x00007FF67D25E883]
	(No symbol) [0x00007FF67D233691]
	(No symbol) [0x00007FF67D2348D4]
	GetHandleVerifier [0x00007FF67D73B992+3610402]
	GetHandleVerifier [0x00007FF67D791860+3962352]
	GetHandleVerifier [0x00007FF67D789D4F+3930847]
	GetHandleVerifier [0x00007FF67D473646+693206]
	(No symbol) [0x00007FF67D351628]
	(No symbol) [0x00007FF67D34D934]
	(No symbol) [0x00007FF67D34DA62]
	(No symbol) [0x00007FF67D33E113]
	BaseThreadInitThunk [0x00007FF8068A7344+20]
	RtlUserThreadStart [0x00007FF8088826B1+33]